<form action="/createbook" method="post">
  <label for="title">BOOK TITLE</label>
    <input type="title" name="book_title"><br>
    
    <input type="url" name="url">
    <textarea name="description" rows=4 cols=60></textarea>
    
    <input type="submit" value="add" name="add">
    
    <input type="submit" value="作成" name="commit" class="btn btn-primary">
</form>
